---
---

@import "{{ site.theme }}";
/*  parent has position: relative
	https://hartshorne.ca/sidenotes-with-css-3f28f1628518 */

.sidenote {
  margin-right: 10px;
  float: right;
  width: 150px;
}

header {
  width: auto;
  float: inherit;
  position: inherit;
}

aside {
  text-align: right;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 30rem;
  color: #888;
}

p {
  color: #444;
}
