---
---

@import "{{ site.theme }}";

body {
  padding: 20px 50px 0px 50px;
}

.wrapper {
  margin-top: 0;
  margin-left: calc(16px + max(-31.8rem + 50vw, 0px));
  margin-right: calc(16px + max(-31.8rem + 50vw, 0px));
  width: auto;
  max-width: 2000px;

  /* https://css-tricks.com/simplified-fluid-typography/ */
  font-size: 14px;
  font-size: min(max(14px, 1.05vw), 22px);
}

header {
  width: auto;
  float: inherit;
  position: inherit;
}

p {
  color: #444;
}

/* lightweight grids */

.grid {
  display: grid;
  grid-column-gap: 1rem;
  margin-bottom: 10px;
}

.double {
  grid-template-columns: 1fr 1fr;
}

.two-panels {
  grid-template-columns: 4fr 3fr;
}

.triple {
  grid-template-columns: 1fr 1fr 1fr;
}

.three-lines {
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.quadruple {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* lightbox markup [used where?] */

.overlay > div {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 75%;
  min-height: 200px;
  
  padding: 20px;
  background-color: #fff;
  background-clip: padding-box;
  border: solid 20px #eee8;
  z-index: 1;
  display: none;
}
.overlay > div > a:first-child {
  float: right;
  margin-top: -15px;
  font-size: 30px;
}

.overlay > div:target {
  display: block;
}

.overlay > div:target ~ .backdrop{
  /* https://stackoverflow.com/a/9812170 */
  
  display: block;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff2;
  width: 100vw;
  height: 100vh;
  display: none;
}
