---
layout: default
---

<div class="post-content">
    <p>Jasmine Otto is a visualization researcher working closely with domain experts to understand their practices and models. She develops intelligent tools by deeply understanding the semi-improvisational ontology-making practices used by experts in domains ranging from aerospace operations to narrative design.</p>
        
    <p>She has published work about these topics at selective venues including IEEE VIS and AAAI AIIDE. She holds a PhD in Computational Media from the Design Reasoning Lab at UC Santa Cruz, an MS from the University of Illinois at Chicago in applied mathematics, and has worked as a visualization developer at JPL.</p>
</div>

{{ content }}
