---
layout: default
---

<p>Jasmine Otto is a data ecologist interested in reifications of complex systems, especially through constellated scientific practice. These involve rhetorics of dimensionality reduction and data visualization, and contexts both narrative and improvisational.</p>

<p>She is exploring the role of computational creativity in scientific sociotechnical ecologies, including existing and future uses of narrated explorable models and casual creator support tools. Her creative writing is influenced by the lightness of enacted proof, inherent to uncivilizing myths.</p>

<p>She is a PhD student in the Creative Coding Lab at UC Santa Cruz, and holds an MS from the University of Illinois at Chicago in applied mathematics.</p>

{{ content }}
