---
layout: default
---

<div class="post-content">
    <p>Jasmine Otto is a visualization developer working with domain experts to understand their practices and build novel creativity support tools. She develops intelligent tools by understanding the computational models, paper tools, and ontological practices used by experts in aerospace operations, interactive narrative design, and other domains. Her creative writing is influenced by improvisational practices and the lightness of enacted proof.</p>
        
    <p>She has published work about these topics at venues including IEEE Visualization, SciPy, the Casual Creators Workshop, and the Electronic Literature Conference. She is a visualization developer at JPL and a PhD student in the Design Reasoning Lab at UC Santa Cruz. She holds an MS from the University of Illinois at Chicago in applied mathematics.</p>
</div>

{{ content }}
